@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color palette */
  --gs-c-white: #ffffff;

  --gs-c-black: #212121;

  --gs-c-blue: #2e3a8c;

  --gs-c-gray: #b0b0b0;
  --gs-c-gray-light: #f9f9f9;

  --gs-c-green: #3b755f;
  --gs-c-green-light: #afc6bd;
  --gs-c-green-light-opacity: rgba(175, 198, 189, 0.5);

  --gs-c-beige: #f2ebdb;
}

:root {
  /* semantic color variables for this project */
  --color-checkbox: var(--gs-c-black);

  --color-toggle-background-hover: var(--gs-c-green-light);
  --color-toggle-button: var(--gs-c-green-light);
  --color-toggle-button-selected: var(--gs-c-gray);
  --color-toggle-circle: var(--gs-c-beige);
  --color-toggle-circle-selected: var(--gs-c-green);
  --color-toggle-fill: var(--gs-c-gray-light);
  --color-toggle-fill-selected: var(--gs-c-green);
  --color-toggle-hover-ring: var(--gs-c-green-light-opacity);

  --color-select-beige: var(--gs-c-beige);
  --color-select-black: var(--gs-c-black);
  --color-select-blue: var(--gs-c-blue);
  --color-select-green: var(--gs-c-green);
  --color-select-white: var(--gs-c-white);
  --color-select-selected: var(--gs-c-gray);

  --color-tooltip-bg: var(--gs-c-white);
  --color-tooltip-link: var(--gs-c-green);
  --color-tooltip-text: var(--gs-c-black);

  --color-header-bg-beige: var(--gs-c-beige);
  --color-header-bg-black: var(--gs-c-black);
  --color-header-bg-blue: var(--gs-c-blue);
  --color-header-bg-green: var(--gs-c-green);
  --color-header-bg-white: var(--gs-c-white);

  --color-header-font: var(--gs-c-white);
  --color-header-font-dark: var(--gs-c-green);

  --color-prop-label: var(--gs-c-green);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
